*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1280px;
    height: 1000vh;
    
}
.box1{
    height: 80px;
    width: 320px;
    border: 1px solid black;
}
.box2{
    width: 960px;
    height: 30px;
    border: 1px solid black;
    margin-left: 320px;
}
.box3{
    width: 1280px;
    height: 50vh;
    border: 1px solid black;
    text-align: center;
     padding-top:60px ;
}
.box3 h4{
   margin-top: 50px;
}
.box4{
width: 1280px;
height:40vh ;
border: 1px solid black;
}
.box5{
    width: 1280px;
    height: 40vh;
    border: 1px solid black;
}
.box5 img{
    height: 120px;
    width: 150px;
}
.box6{
    width: 1280px;
    height: 30vh;
    border: 1px solid black ;
}